body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: rgb(231, 227, 201);
  color: rgb(86, 47, 0);
}

h1,
h2 {
  color: rgb(86, 47, 0);
  margin: 0.5rem 0;
}

p {
  color: rgb(111, 143, 114);
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s ease;
}

@media (max-width: 1240px) {
  body {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
